@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@400;500;600;700&display=swap');
@import 'tailwindcss';
@import 'tw-animate-css';
@plugin "@tailwindcss/typography";

@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
}

:root {
  --DIALOG-MAX-H: calc(100vh - 200px);
  --background: oklch(1 0 0);
  --foreground: oklch(0.1408 0.0044 285.8229);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.1408 0.0044 285.8229);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.1408 0.0044 285.8229);
  --primary: oklch(0.6271 0.1699 149.2138);
  --primary-foreground: oklch(0.9851 0 0);
  --secondary: oklch(0.9674 0.0013 286.3752);
  --secondary-foreground: oklch(0.1408 0.0044 285.8229);
  --muted: oklch(0.9674 0.0013 286.3752);
  --muted-foreground: oklch(0.5517 0.0138 285.9385);
  --accent: oklch(0.9674 0.0013 286.3752);
  --accent-foreground: oklch(0.1408 0.0044 285.8229);
  --destructive: oklch(0.6368 0.2078 25.3313);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.9197 0.004 286.3202);
  --input: oklch(0.9197 0.004 286.3202);
  --ring: oklch(0.6271 0.1699 149.2138);
  --chart-1: oklch(0.6271 0.1699 149.2138);
  --chart-2: oklch(0.6461 0.1943 41.1158);
  --chart-3: oklch(0.5461 0.2152 262.8809);
  --chart-4: oklch(0.6658 0.1574 58.3183);
  --chart-5: oklch(0.5106 0.2301 276.9656);
  --sidebar: oklch(0.9674 0.0013 286.3752);
  --sidebar-foreground: oklch(0.1408 0.0044 285.8229);
  --sidebar-primary: oklch(0.6271 0.1699 149.2138);
  --sidebar-primary-foreground: oklch(0.9851 0 0);
  --sidebar-accent: oklch(1 0 0);
  --sidebar-accent-foreground: oklch(0.1408 0.0044 285.8229);
  --sidebar-border: oklch(0.9197 0.004 286.3202);
  --sidebar-ring: oklch(0.6271 0.1699 149.2138);
  --font-sans: 'Baloo 2', sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 1.5rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
  --tracking-normal: 0rem;
  --spacing: 0.25rem;
  --shadow-color: #000000;
  --shadow-opacity: 0.1;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0rem;
}

.dark {
  --background: oklch(0.1678 0.0076 163.8946);
  --foreground: oklch(0.9851 0 0);
  --card: oklch(0.1678 0.0076 163.8946);
  --card-foreground: oklch(0.9851 0 0);
  --popover: oklch(0.1678 0.0076 163.8946);
  --popover-foreground: oklch(0.9851 0 0);
  --primary: oklch(0.7227 0.192 149.5793);
  --primary-foreground: oklch(0.1678 0.0076 163.8946);
  --secondary: oklch(0.2739 0.0055 286.0326);
  --secondary-foreground: oklch(0.9851 0 0);
  --muted: oklch(0.2739 0.0055 286.0326);
  --muted-foreground: oklch(0.7118 0.0129 286.0665);
  --accent: oklch(0.2739 0.0055 286.0326);
  --accent-foreground: oklch(0.9851 0 0);
  --destructive: oklch(0.3958 0.1331 25.723);
  --destructive-foreground: oklch(0.9851 0 0);
  --border: oklch(0.2739 0.0055 286.0326);
  --input: oklch(0.2739 0.0055 286.0326);
  --ring: oklch(0.7227 0.192 149.5793);
  --chart-1: oklch(0.7227 0.192 149.5793);
  --chart-2: oklch(0.7049 0.1867 47.6044);
  --chart-3: oklch(0.6231 0.188 259.8145);
  --chart-4: oklch(0.7686 0.1647 70.0804);
  --chart-5: oklch(0.5854 0.2041 277.1173);
  --sidebar: oklch(0.1678 0.0076 163.8946);
  --sidebar-foreground: oklch(0.9851 0 0);
  --sidebar-primary: oklch(0.7227 0.192 149.5793);
  --sidebar-primary-foreground: oklch(0.1678 0.0076 163.8946);
  --sidebar-accent: oklch(0.2739 0.0055 286.0326);
  --sidebar-accent-foreground: oklch(0.9851 0 0);
  --sidebar-border: oklch(0.2739 0.0055 286.0326);
  --sidebar-ring: oklch(0.7227 0.192 149.5793);
  --font-sans: 'Baloo 2', sans-serif;
  --font-serif: serif;
  --font-mono: monospace;
  --radius: 1.5rem;
  --shadow-2xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0px 2px 4px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0px 2px 4px 0px hsl(0 0% 0% / 0.25);
  --shadow-color: #000000;
  --shadow-opacity: 0.1;
  --shadow-blur: 4px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 2px;
  --letter-spacing: 0rem;
  --spacing: 0.25rem;
}

@theme inline {
  --breakpoint-xs: 25rem;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: 'Baloo 2', sans-serif;
  --font-mono: monospace;
  --font-serif: serif;

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);

  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-normal: var(--tracking-normal);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --radius: 1.5rem;
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    letter-spacing: var(--tracking-normal);
    font-size-adjust: 0.6;
    @apply bg-background text-foreground;
  }

  input {
    font-size: 16px;
    line-height: 24px;
    @apply font-sans;
  }
}

@layer components {
  .container {
    @apply !max-w-4xl mx-auto w-full px-4 sm:px-6 lg:px-8;
  }

  .container-lg {
    @apply !max-w-[96rem] mx-auto w-full px-4 sm:px-6 lg:px-8;
  }

  .hero-background {
    background: url('/bg.png') no-repeat center center;
    background-size: cover;
  }

  .dot {
    @apply w-1 h-1 rounded-full bg-muted-foreground;
  }

  .markdown-typography {
    @apply font-sans prose prose-neutral dark:prose-invert;
  }

  .mdxeditor {
    @apply overflow-y-auto;
  }

  .markdown-editor-toolbar,
  .mdxeditor-toolbar * {
    @apply dark:!bg-secondary dark:!text-secondary-foreground;
  }

  .topic-details-text {
    @apply text-xs sm:text-sm md:text-base;
  }

  .disabled {
    @apply opacity-50 cursor-not-allowed pointer-events-none;
  }
}
