name: Build & Push Grammar Hero

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build API
        run: docker build -t 3ahxut123nurbek/grammar-hero-api -f docker/server.Dockerfile .

      - name: Build WEB
        run: docker build -t 3ahxut123nurbek/grammar-hero-web -f docker/web.Dockerfile .

      - name: Push
        run: |
          docker push 3ahxut123nurbek/grammar-hero-api
          docker push 3ahxut123nurbek/grammar-hero-web