name: Build & Push Grammar Hero

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USER }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build API image
        run: |
          docker build \
            -t 3ahxut123nurbek/grammar-hero-api:latest \
            -f docker/server.Dockerfile .

      - name: Build WEB image
        run: |
          docker build \
            -t 3ahxut123nurbek/grammar-hero-web:latest \
            -f docker/web.Dockerfile .

      - name: Push images
        run: |
          docker push 3ahxut123nurbek/grammar-hero-api:latest
          docker push 3ahxut123nurbek/grammar-hero-web:latest